<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NOTES</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">

        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="main.js"></script>
    </head>
    <body>
        <div class="container align-middle" id="app">
            <h1 class="text-center">Notes</h1>

            <!--Création de note-->
            <div class="row justify-content-center">
                <form id="form" class="text-center"  @submit.prevent="addNote">
                    <input class="form-control" type="text" v-model="newNote.text"/>
                    <button id="addButton" class="btn btn-primary">
                    Ajouter
                    </button>
                </form>
            </div>

            <!--Liste de notes-->
            <div class="container mt-3">
                <ul class="list-group" >
                    <li class="list-group-item" v-for="n in notes" :key="n.id">
                    <h5 class="pointer" @click="n.visible = !n.visible">{{n.title}}
                        <span class="badge bg-secondary rounded-pill">{{n.length}} mots</span>
                        <div class="btn-group float-right" role="group">
                            <button type="button" class="btn btn-outline-primary" v-on:click="n.edit = true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </button>

                            <!--Suppression-->
                            <button type="button"  class="btn btn-outline-danger" v-on:click="removeNote(n)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>                            
                        </div>
                    </h5>
                    <textarea style="width: 800px;" v-show="n.edit == true" v-model="n.text"
                    @keyup.enter = "n.edit=false; updateNote(n)"></textarea>

                    <p class="noteContent" v-if="n.visible === true" >{{n.text}}</p>
                    </li>
                </ul> 
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </body>
</html>