body{
    background-color:cornflowerblue;
}
.pointer {
    cursor: pointer;
}

h1{
    margin-top : 80px; 
    color:white; 
    font-weight: bold; 
    font-size:52px;
}

#form{
    margin-top : 50px; 
    width:800px;
}

#addButton{
    margin-top:15px;
    font-weight: bold;
}

h5{
    text-decoration: underline; 
    color :#007bff;
}

.badge{
    color : white;
    margin-left : 25px;
}

.noteContent{
    margin : 15px;
    width : 84%;
}

.list-group-item{
    margin : 2px 0;
}